.header-wrapper {
  background-color: transparent;
  padding: 20px 100px 20px 100px;
}

.header-inner {
      padding: 30px;
      text-align: center;
      background: transparent;
      color: white;
      font-size: 30px;
}