.information-container {
  background-color: #F0F0F0;
  border-radius: 5px;
  height: 500px;
  padding: 10px 20px 10px 20px;
  margin: 20px 0px 20px 0px;
  box-shadow: 3px 3px 3px rgba(101, 101, 101, 0.3)
}

.title-container {
  width: 100%;
  text-align:center;
}

.information-container-inner {
  width: 200%;
  height: 500px;
}

.information-hero-container {
}

.information-table-wrapper {
  width: 100%;
  margin-top: 35%
}

.information-table {
  border-collapse: collapse;
  width: 100%;
}

.information-table-data {
  text-align: right;
}

.information-table-header {
  text-align: left;
}

.information-table-row {
  border-top: solid 1px grey;
  border-bottom: solid 1px gray;
}

.weather-text-container {
  vertical-align: middle;
  padding: 20px;
  font-size: 20px;
}